/* 
.container {
    padding: 10px
}
.lines {
    position: relative;
    width: 100%;
    height: 45px;
}
.lines:before, .lines:after {
    content: '';
    position: absolute;
    margin: auto;
    height: 2px;
    background:#fff;
    width: 45%;
    top: 45%;
}
.lines:after {
    left: 0;
}
.lines:before {
    right: 0;
}
.diamond {
    border: 3px solid #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
}
@media (max-width: 600px) {
    .diamond {
    width: 20px;
    height: 20px;
    }
    .lines{
    height: 25px;
    }
} */
.main-container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.chapterQB1-container, .chapter9B1-container, .chapter8B1-container, .chapter8pB1-container, .chapter5B1-container, .chapter4B1-container, .chapter1B2-container, .chapter2B2-container, .chapter3B2-container, .chapter4B2-container {
    padding: 20px;
    /* background-color: white; */
    /* border-radius: 15px; */

}

@media (max-width: 600px) {
    .chapterQB1-container, .chapter9B1-container, .chapter8B1-container, .chapter8pB1-container, .chapter5B1-container, .chapter4B1-container, .chapter1B2-container, .chapter2B2-container, .chapter3B2-container, .chapter4B2-container {
        margin-left: 10px;
        margin-right: 10px;
        /* padding: 10px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


button {
    font-size: 18px;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
}
button:hover {
    background-color: #0056b3;
}
#audioPlayerQB1, #audioPlayer9, #audioPlayer8, #audioPlayer8p, #audioPlayer5, #audioPlayer4, #audioPlayer1B2, #audioPlayer2B2, #audioPlayer3B2, #audioPlayer4B2 {
    /* margin-top: 20px; */
    width: 400px;
    max-width: 100%;
    /* flex: 1; */
}

[hidden] {
    display: none !important;
}
