.header-background {
    width: 100%;
    height: 100px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.header-content {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-size: 26px;
}
@media (max-width: 700px) {
    .header-content {
        font-size: 20px;
        /* padding: 0 10px; */
    }
    
}
.center-section {
    display: flex;
    align-items: top   ;
    /* padding: 0 30px; */
    color: #333333;
    /* font-style: bold; */
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}
.logo-image {
    width: 130px;
    margin-right: 30px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
}

#topicDropdown {
    margin-top: 35px;
    padding: 8px;
    width: 400px;
    font-size: 18px;
    /* font-weight: bold; */
    color: black;
    background-color: white; /* Light purple background */
    border: 2px solid white;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: left;
}

@media (max-width: 600px) {
    .logo-image {
        width: 120px;
        margin-left: 10px;
        margin-right: 15px;
    }
    #topicDropdown {
        width: 200px;
        font-size: 14px;

    }
}